<div class="hero">
  <% if @hero[:include_logo] %>
    <div class="hero__logo">
      <div class="hero__logo__emblem"></div>
    </div>
  <% end %>
  <h1 class="hero__title"><%= @hero[:title] %></h1>
  <p class="hero__description"><%= @hero[:description] %></p>
</div>

