<section class="section">   
	<div class="container has-text-centered">
		  <p class="level-left has-text-left">
  			<a href="/" class="link">HOME</a> 
  		  </p>
		  <h1 class="title"><%= @main[:title] %></h1>
		  <p class="help"><%= @main[:description] %></p>
	</div>
</section>

