  <div class="container">

    <%
      @main = {
        title: 'Edit Clock In',
        description: 'You can clock out from here',
      }
    %>
    <%= render 'main' %>

    <%= render 'edit_form' %>
  
  </div>
