<div class="container">

  <%
    @hero = {
      title: 'Employee Clock In',
      description: 'Clock in here',
    }
  %>
  <%= render 'hero' %>
<div class="box has-text-centered">
 <%= link_to 'Clock in Event', new_clockin_path, class: 'button is-info' %>
</div>
  

  <% @clockins.each do |clockin| %>
    <% @clockin = clockin %>
    <%= render 'event' %>
  <% end %>

</div>
