<div class="container">

  <%
    @hero = {
      title: 'Employee Clock In',
      description: 'Clock in here',
      include_logo: true,
    }
  %>
  <%= render 'hero' %>

  <%= link_to 'New Clock Event', new_clockin_path, class: 'button' %>

  <% @clockins.each do |clockin| %>
    <% @clockin = clockin %>
    <%= render 'event' %>
  <% end %>

</div>
