<div class="level">
  <div class="container">

    <%
      @hero = {
        title: 'Clock In',
        description: sanitize('Use the form below to create a new clock in/out event. <a href="/" class="hero__link">Click here</a> to go home.'),
      }
    %>
    <%= render 'hero' %>

    <%= render 'new_form' %>

  </div>
</div>


