<div class="container">
    <%
      @main = {
        title: 'Clock In',
        description: 'Please clock your time'
      }
    %>
    <%= render 'main' %>

    <%= render 'new_form' %>

  </div>
</div>


